$background-font-size: 25px;
$black: #000;
$transparent-black: rgba(40, 40, 40, 0.9);
$lime-green: #00FF00;
$green: rgb(0, 128, 0);
$transparent-green: rgba(0, 128, 0, 0.8);
$nav-box-width: 70px;
$nav-box-height: 170px;

@font-face {
    font-family: 'ocra';
    src: url('/fonts/OCRA.ttf');
}

body {
    margin: 0px;
    font-family: 'ocra';
}

@media only screen and (max-width: 410px) {
    .box-wrapper {
        width: 99%;
        overflow: hidden;
    }
}

label {
    [type="checkbox"] {
        vertical-align: middle;
        cursor: pointer;
    }
}

label {
    cursor: pointer;
}